body {
  color: #555555;
}
h1 {
  margin-bottom: 0;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding-left: 0;
}

.weather-app-content {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.weather-app {
  margin: 0 auto;
}

.temperatures {
  position: relative;
  top: 12px;
}
.temp-integer {
  font-size: 56px;
  font-weight: 500;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -22px;
}

.weather-temperature a {
  text-decoration: none;
}

.weather-temperature .active {
  color: #000;
}

#description {
  text-transform: capitalize;
}

#search-form {
  margin-bottom: 10px;
}
