h1 {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

.weather-app-content {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #333333;
  border-radius: 10px;
}

.weather-app {
  margin: 0 auto;
}

.temperatures {
  position: relative;
}
.temp-integer {
  font-size: 40px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -22px;
}

.weather-temperature a {
  text-decoration: none;
  color: black;
}
